@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.responsive-icon {
  font-size: 22px;
}
@media (min-width: 768px) {
  .responsive-icon {
    font-size: 32px;
  }
}
